#version=RHEL8
# Use graphical install
graphical
# Installation repository
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=zh_CN.UTF-8

# Network information
network --bootproto=dhcp --device=ens33 --onboot=on --ipv6=auto --no-activate
network --hostname=myrhel.domain12.example.com

# Root password
rootpw --iscrypted $6$RCNPeAdEqQ0mqwL0$9PQkjwWztkWDM5OuemEhNdtKxvuz3fe.7BLQ.qOrr8nV6L6PwxCHPzid7bTzwaLpFDrkUC.zqfltwZUsGh0Ge0
# Regular user and password
user --name=alberthua --password=$6$9tD.YdrhrW/7iClS$KGuiML.PfHwSXdzSrCr99OqhYJU9xkMI6oPMeMLt2nNrdtuaT2GbFjg4KY9.12a07dKx0wPYCFhccFd6Bybta. --iscrypted --gecos="alberthua"
# X Window System configuration information
xconfig --startxonboot
# Run the Setup Agent on first boot
# After installation reboot system
firstboot --enable
# System services
services --disabled="chronyd"
# Intended system purpose
syspurpose --role="Red Hat Enterprise Linux Server" --sla="Self-Support" --usage="Production"
# System timezone
timezone Asia/Shanghai --isUtc --nontp

# Just use sda to install system
ignoredisk --only-use=sda
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot/efi --fstype="efi" --ondisk=sda --size=500 --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.485 --fstype="lvmpv" --ondisk=sda --size=49674
volgroup rootvg --pesize=4096 pv.485
logvol / --fstype="xfs" --size=20480 --name=lv0 --vgname=rootvg
logvol swap --fstype="swap" --size=4096 --name=lvswap --vgname=rootvg
logvol /var --fstype="xfs" --size=10240 --name=lvvar --vgname=rootvg
logvol /usr --fstype="xfs" --size=10240 --name=lvusr --vgname=rootvg
logvol /tmp --fstype="xfs" --size=3072 --name=lvtmp --vgname=rootvg

%packages
@^graphical-server-environment
@container-management
@debugging
@development
@graphical-admin-tools
@guest-agents
@infiniband
@legacy-unix
@network-file-system-client
@performance
@rpm-development-tools
@scientific
@security-tools
@system-tools
@virtualization-client
@virtualization-hypervisor
@virtualization-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
